:root {
  --w: #ffffff;
  --g300: #33c71b;
  --g500: #107500;
  --g700: #020e00;
  --o300: #ff9900;
  --bg: #f5f5f5;
  --box-shadow: 0px 4px 24px 0px #00000033;
}

.w {
  color: var(--w);
}

.g300 {
  color: var(--g300);
}

.g500 {
  color: var(--g500);
}

.g700 {
  color: var(--g700);
}

.o300 {
  color: var(--o300);
}

.bg {
  color: var(--bg);
}
