* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  scroll-behavior: smooth;
}

html,
body {
  min-width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  overflow-x: hidden;
  font-family: "Montserrat";
  background-color: var(--bg);
  display: flex;
  flex-direction: column;
}

img {
  max-width: 100%;
  display: block;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  display: block;
  border: none;
  margin: 0 auto;
}

input {
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  border: none;
  padding: 0.5rem 1.5rem;
  text-align: center;
  font-weight: 400;
}

.botao {
  display: block;
  width: fit-content;
  padding: 0.75rem 2rem;
  border-radius: 2rem;
}

.botao-branco {
  color: var(--g500);
  background-color: var(--w);
  border-radius: 1rem;
  transition: all ease-in-out 0.15s;
}

.botao-verde {
  color: var(--w);
  background-color: var(--g300);
  border-radius: 0.5rem;
  transition: all ease-in-out 0.15s;
}

.botao-verde:hover {
  background-color: var(--g500);
}

.botao-branco:hover {
  transform: scale(1.1);
}

.titulo {
  font-size: 4rem;
  font-weight: 600;
  color: var(--g300);
}

.titulo span {
  color: var(--o300);
}

@media (max-width: 1200px) {
  .sobre-container,
  .calculos-container,
  .calculo-agua-container {
    padding: 0 1rem;
  }
}

@media (max-width: 600px) {
  .titulo {
    font-size: 3rem;
  }
  .texto-grande {
    font-size: 1rem;
  }
  .botao {
    font-size: 1rem;
  }
}
